@charset "utf-8";
/* CSS Document */


/*********************************
6. Featured Album
*********************************/

.featured_album
{
	padding-top: 107px;
}
.featured_background
{
	top: auto;
	bottom: -185px;
	max-height: 489px;
}
.featured_album .section_title_container
{
	padding-left: 20px;
}
.featured_row
{
	margin-top: 71px;
}
.featured_album_image
{
	width: calc(100% + 42px);
	height: 722px;
}
.featured_album_image img
{
	max-width: 100%;
}
.image_overlay
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #de4f32;
	z-index: 1;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1200ms ease;
}
.image_overlay.active
{
	width: 0%;
}
.featured_album_col
{
	z-index: 1;
}
.featured_album_player_container
{
	width: calc(100% + 58px);
	left: -58px;
	height: 100%;
}
.featured_album_player
{
	width: 100%;
	border: solid 1px #d3d3d3;
	background: #333232;
}
.featured_album_title_bar
{
	height: 146px;
	padding-left: 55px;
	padding-right: 46px;
}
.featured_album_title_container
{
	
}
.featured_album_artist
{
	font-size: 30px;
	color: #FFFFFF;
	line-height: 1.2;
}
.featured_album_title
{
	font-size: 16px;
	color: rgba(255,255,255,0.67);
	margin-top: -2px;
}
.featured_album_link
{
	width: 181px;
	height: 42px;
	background: #de4f32;
	text-align: center;
}
.featured_album_link a
{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 42px;
}
.jp-audio
{
	width: 100%;
}
.jp-playlist
{
	background: #333232;
}
.jp-playlist ul
{
	/*padding-left: 55px;*/
}
.jp-playlist li
{
	position: relative;
	height: 38px;
	border-bottom: none;
	padding-left: 55px;
}
.jp-playlist li::before,
#jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current::before
{
	display: block;
	position: absolute;
	top: 0;
	left: -4px;
	width: calc(100% + 8px);
	height: 100%;
	background: #5c5c5c;
	visibility: hidden;
	opacity: 0;
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.jp-playlist li:hover::before,
#jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current::before
{
	opacity: 1;
	visibility: visible;
}
.jp-playlist li > div
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding-left: 35px;
	padding-right: 45px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.song_duration
{
	margin-left: auto;
}
.jp-playlist li > div::before
{
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'FontAwesome';
	content: '\f04b';
	color: rgba(255,255,255,0.5);
}
.jp-playlist li:not(:last-child)
{
	margin-bottom: 14px;
}
.jp-type-playlist div.jp-playlist a,
.song_duration
{
	font-family: 'Futura', sans-serif !important;
	font-size: 16px !important;
	color: rgba(255,255,255,0.5) !important;
	line-height: 38px;
	outline: none !important;
}
.jp-type-playlist div.jp-playlist a > span
{
	display: none;
}
#jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current > div
{
	padding-left: 26px;
}
#jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current > div::before
{
	color: #FFFFFF;
}
#jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current a,
#jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current > div .song_duration
{
	color: #FFFFFF !important;
}
.jp-details
{
	display: block !important;
}
.player_details
{
	width: 100%;
	height: 92px;
	background: #FFFFFF;
	margin-top: 27px;
	padding-left: 25px;
	padding-right: 22px;
}
.jp-details > div
{
	font-size: 12px;
	color: rgba(51,50,50,0.5);
	text-transform: uppercase;
}
.jp-details > div:first-child
{
	
}
.jp-details > div:first-child
{
	display: none;
}
.jp-state-playing .jp-details > div:first-child
{
	display: block;
}
.jp-state-playing .jp-details .jp-title
{
	display: block;
}
.jp-state-playing .jp-details > div:first-child
{
	display: block !important;
}
.jp-title
{
	font-size: 16px !important;
	color: #333232 !important;
	text-transform: none !important;
}
.jp-play
{
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #de4f32;
	border: none;
	cursor: pointer;
	text-align: center;
	outline: none !important;
}
.jp-play::after
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'FontAwesome';
	font-size: 20px;
	color: #FFFFFF;
	content: '\f04b';
}
.jp-state-playing .jp-play::after
{
	content: '\f04c';
}
.jp-play:active
{
	width: 46px;
	height: 46px;
}
.player_controls
{
	width: 100%;
	background: #ececec;
}
.player_controls .jp-interface
{
	width: 100%;
	height: 56px;
	padding-left: 23px;
	padding-right: 20px;
}
.jp-volume-controls
{
	width: 80px;
}
.jp-volume-bar
{
	width: 45px;
	height: 9px;
	background: #989898;
	cursor: pointer;
}
.jp-volume-bar-value
{
	height: 9px;
	background: #5f5f5f;
}
.jp-mute
{
	position: relative;
	width: 29px;
	height: 16px;
	background: transparent;
	border: none;
	outline: none;
	margin-right: 6px;
	cursor: pointer;
}
.jp-state-muted .jp-mute::after
{
	content: url(../images/mute_0.png);
}
.jp-mute:active
{
	outline: none;
}
.jp-mute::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: url(../images/mute_1.png);
}
.time_controls
{
	width: calc(100% - 110px);
}
.jp-progress
{
	width: 100%;
	height: 9px;
	background: #9f9f9f;
}
.jp-current-time
{
	width: 48px;
}
.jp-current-time,
.jp-duration
{
	font-size: 14px;
	color: #333232 !important;
}
.jp-duration
{
	width: 56px;
	text-align: right;
}
.jp-progress
{
	cursor: pointer;
}
.jp-play-bar
{
	height: 9px;
	background: #5f5f5f;
}

